@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
	background-color: #282c34;
	color: #fff;
	font-family: "VT323", monospace;

	--panel-size: 12vh;
	--map-size: calc(100vh - var(--panel-size) * 2);
	--map-X: 50;
	--map-Y: 50;
	--blue: #ff9100;
	--pixelated-small: polygon(0 2px, 2px 2px, 2px 0, calc(100% - 2px) 0, calc(100% - 2px) 2px, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 2px calc(100% - 2px), 0 calc(100% - 2px));
	--pixelated: polygon(0 8px, 4px 8px, 4px 4px, 8px 4px, 8px 0, calc(100% - 8px) 0, calc(100% - 8px) 4px, calc(100% - 4px) 4px, calc(100% - 4px) 8px, 100% 8px, 100% calc(100% - 8px), calc(100% - 4px) calc(100% - 8px), calc(100% - 4px) calc(100% - 4px), calc(100% - 8px) calc(100% - 4px), calc(100% - 8px) 100%, 8px 100%, 8px calc(100% - 4px), 4px calc(100% - 4px), 4px calc(100% - 8px), 0 calc(100% - 8px));
}

* {
	box-sizing: border-box;
}

.app-head,
.app-foot {
	align-items: center;
	display: flex;
	height: auto;
	justify-content: center;
	padding: 2vh;
	text-align: center;
}

.app-head img {
	cursor: pointer;
	height: auto;
	width: 30vh;
}

.app-head h1 {
	animation: glitch 2s ease infinite 2s alternate-reverse;
	font-size: 6vh;
	font-weight: 400;
	letter-spacing: 0.15em;
	margin: 2vh 0 0;
}

ul {
	list-style: none;
	margin: 0;
	margin: 0 auto;
	padding: 0;
}

li {
	display: flex;
	font-size: 4vh;
	justify-content: center;
	margin: 1vh;
	text-align: center;
}

li.head span {
	color: #30ae66 !important;
	font-size: 5vh;
}

li span {
	margin: 0 1vw;
	text-align: left;
	width: 50%;
}

li span:first-child {
	text-align: right;
}

li span:last-child {
	color: orange;
}

@keyframes glitch {
	0% {
		text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
		transform: translate(-1vw);
	}

	2% {
		text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
		transform: translate(1vw);
	}

	4%,
	100% {
		text-shadow: none;
		transform: none;
	}
}

@keyframes stack {
	0% {
		opacity: 0;
		text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
		transform: translateX(-50%);
	}

	60% {
		opacity: 0.5;
		transform: translateX(50%);
	}

	80% {
		opacity: 1;
		text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
		transform: none;
	}

	100% {
		text-shadow: none;
	}
}
