@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
	background-color: #282c34;
	color: #fff;
	font-family: "VT323", monospace;

	--panel-size: 12vh;
	--map-size: calc(100vh - var(--panel-size) * 2);
	--map-X: 50;
	--map-Y: 50;
	--blue: #ff9100;
	--pixelated-small: polygon(0 2px, 2px 2px, 2px 0, calc(100% - 2px) 0, calc(100% - 2px) 2px, 100% 2px, 100% calc(100% - 2px), calc(100% - 2px) calc(100% - 2px), calc(100% - 2px) 100%, 2px 100%, 2px calc(100% - 2px), 0 calc(100% - 2px));
	--pixelated: polygon(0 8px, 4px 8px, 4px 4px, 8px 4px, 8px 0, calc(100% - 8px) 0, calc(100% - 8px) 4px, calc(100% - 4px) 4px, calc(100% - 4px) 8px, 100% 8px, 100% calc(100% - 8px), calc(100% - 4px) calc(100% - 8px), calc(100% - 4px) calc(100% - 4px), calc(100% - 8px) calc(100% - 4px), calc(100% - 8px) 100%, 8px 100%, 8px calc(100% - 4px), 4px calc(100% - 4px), 4px calc(100% - 8px), 0 calc(100% - 8px));
}

* {
	box-sizing: border-box;
}

.app-head,
.app-foot {
	align-items: center;
	display: flex;
	height: var(--panel-size);
	justify-content: space-between;
	padding: 10px 20px;
}

.map {
	display: flex;
	height: var(--map-size);
	margin: 0 auto;
	position: relative;
	width: var(--map-size);
}

.map::before {
	background: rgba(40, 44, 52, 0.8);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 250ms;
	width: 100%;
	z-index: 50;
}

.map.countdown::before {
	opacity: 1;
}

.map .countdown {
	align-items: center;
	animation: colorIn 400ms;
	display: block;
	display: flex;
	font-size: 50vh;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 60;
}

.row {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	width: calc(var(--map-size) / var(--map-X));
}

.cell {
	align-items: center;
	border-bottom: 0;
	color: black;
	display: flex;
	height: calc(var(--map-size) / var(--map-Y));
	justify-content: center;
	position: relative;
	width: calc(var(--map-size) / var(--map-X));
}

.cell:first-child {
	border-left: 0;
}

.row:first-child .cell {
	border-top: 0;
}

.cell::before,
.color,
.obstacle {
	background: #3d434f;
	clip-path: var(--pixelated-small);
	content: "";
	height: 80%;
	left: 10%;
	position: absolute;
	top: 10%;
	width: 80%;
	z-index: -1;
}

.obstacle {
	background: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0396/3573/rbricks_large_shop_thumb.png");
	background: black;
	background-size: cover;
	border-radius: 0;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}

.log {
	align-items: center;
	animation: promptIn 2000ms both;
	display: flex;
	font-size: 14vw;
	height: var(--map-size);
	justify-content: center;
	left: 0;
	position: absolute;
	text-shadow: 1vw 1vw 0 #000;
	width: 100vw;
	z-index: 10;
}

.log span {
	font-size: 14vw;
	text-shadow: 1vw 1vw 0 #000;
}

.color + .obstacle {
	opacity: 0.8;
}

.flicker {
	animation: flicker 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2, jump-start);
}

.color {
	animation: colorIn 300ms;
	z-index: 1;
}

.password {
	display: block;
	font-size: 24px;
}

.password span {
	color: orange;
}

.color-1 {
	background: red;
}

.color-2 {
	background: var(--blue);
}

.color-3 {
	background: green;
}

.color-4 {
	background: pink;
}

.text-red {
	color: red;
}

.text-blue {
	color: var(--blue);
}

.text-green {
	color: green;
}

.text-pink {
	color: pink;
}

.branding img {
	height: 8vh;
	width: auto;
}

.player-area {
	background: #3d434f;
	clip-path: var(--pixelated);
	display: flex;
	flex-direction: column;
	min-width: 300px;
	padding: 1vh 2vh;
}

.player-area .name {
	font-size: 5vh;
}

.player-area .score {
	font-size: 3vh;
}

.bullet {
	background: radial-gradient(circle, rgba(255, 198, 0, 1) 0%, rgba(236, 99, 19, 1) 35%, rgba(254, 255, 0, 1) 100%);
	clip-path: var(--pixelated);
	height: 60%;
	position: absolute;
	width: 60%;
	z-index: 40;
}

.bomb {
	animation: pulse 400ms;
	animation-iteration-count: infinite;
	background: black;
	border-radius: 100%;
	height: 45%;
	position: absolute;
	width: 45%;
	z-index: 2;
}

.bomb::before {
	background: white;
	content: "";
	height: 10%;
	left: 44%;
	position: absolute;
	top: -10%;
	width: 12%;
}

.bomb::after {
	background: yellow;
	content: "";
	height: 10%;
	left: 40%;
	position: absolute;
	top: -20%;
	width: 20%;
}

.shot-hit {
	animation: expand 400ms both;
	background: radial-gradient(circle, rgba(255, 198, 0, 1) 0%, rgba(236, 99, 19, 1) 35%, rgba(254, 255, 0, 1) 100%);
	clip-path: var(--pixelated);
	height: 60%;
	position: absolute;
	width: 60%;
	z-index: 40;
}

.bomb-explode,
.player-kill {
	--star-color: orange;
	animation: explode 1000ms both;
	border-bottom: 0.7em solid var(--star-color);
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	display: block;
	font-size: calc(var(--map-size) / var(--map-X) * 2);
	height: 0;
	margin: 1em auto;
	position: relative;
	position: absolute;
	transform: rotate(35deg);
	width: 0;
	z-index: 20;
}

.bomb-explode::before,
.player-kill::before {
	border-bottom: 0.8em solid var(--star-color);
	border-left: 0.3em solid transparent;
	border-right: 0.3em solid transparent;
	content: "";
	display: block;
	height: 0;
	left: -0.65em;
	position: absolute;
	top: -0.45em;
	transform: rotate(-35deg);
	width: 0;
}

.bomb-explode::after,
.player-kill::after {
	border-bottom: 0.7em solid var(--star-color);
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	content: "";
	display: block;
	height: 0;
	left: -1.05em;
	position: absolute;
	top: 0.03em;
	transform: rotate(-70deg);
	width: 0;
}

.player {
	align-items: center;
	animation-iteration-count: infinite;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	z-index: 3;
}

.player-head {
	background: #d8d3c3;
	height: 20%;
	width: 20%;
}

.player-body {
	background: teal;
	height: 30%;
	position: relative;
	width: 50%;
}

.player-feet {
	height: 8%;
	position: relative;
	width: 42%;
}

.player-arm,
.player-foot {
	background: #d8d3c3;
	display: block;
	left: 0;
	position: absolute;
	top: 0;
}

.player-foot {
	height: 100%;
	width: 20%;
}

.player-arm {
	height: 35%;
	left: -20%;
	width: 20%;
}

.player-foot:last-child {
	left: auto;
	right: 0;
}

.player-arm:last-child {
	left: auto;
	right: -20%;
}

.player-1 .player-body {
	background: red;
}

.player-2 .player-body {
	background: orange;
}

.player-3 .player-body {
	background: blue;
}

button {
	background: transparent;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-family: "VT323", monospace;
	font-size: 3vh;
	padding: 1vh 2vh;
	position: relative;
}

button:hover {
	background: rgba(255, 255, 255, 0.2);
}

.select-screen {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.intro-players {
	display: flex;
	gap: 1vh;
	margin: 20px 0 30px;
}

.intro-players .player {
	animation: dance 400ms;
	animation-iteration-count: infinite;
	height: 9vh;
	width: 9vh;
}

.intro-players .player:nth-child(1) .player-body {
	background: red;
}

.intro-players .player:nth-child(2) {
	animation-delay: 100ms;
}

.intro-players .player:nth-child(2) .player-body {
	background: var(--blue);
}

.intro-players .player:nth-child(3) {
	animation-delay: 200ms;
}

.intro-players .player:nth-child(3) .player-body {
	background: green;
}

.intro-players .player:nth-child(4) {
	animation-delay: 300ms;
}

.intro-players .player:nth-child(4) .player-body {
	background: pink;
}

.select-screen .app-head,
.select-screen .app-foot {
	height: auto;
	justify-content: center;
}

.select-screen .branding img {
	height: 20vh;
}

.select-screen .controls {
	text-align: center;
}

.timer {
	font-size: 60px;
	text-align: center;
}

.select-screen .controls button:first-child::before {
	animation: flicker 800ms;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2, jump-start);
	content: "> ";
}

@keyframes colorIn {
	from {
		transform: scale(0.1);
	}

	to {
		transform: scale(1);
	}
}

@keyframes promptIn {
	0% {
		opacity: 1;
		transform: scale(0.1);
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.1);
	}
}

@keyframes explode {
	from {
		opacity: 1;
		transform: scale(0.01) rotate(35deg);
	}

	to {
		opacity: 0;
		transform: scale(1) rotate(35deg);
	}
}

@keyframes expand {
	from {
		height: 40%;
		opacity: 1;
		width: 40%;
	}

	to {
		height: 100%;
		opacity: 0;
		width: 100%;
	}
}

@keyframes flicker {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes dance {
	0%,
	100% {
		transform: rotate(-10deg);
	}

	50% {
		transform: rotate(10deg);
	}
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}
}
